body {
  --background: white;
  --font-main-color: black;
  --font-theme-color: rgb(0, 59, 220);
  --font-second-color: rgb(71, 71, 71);
  --theme-color: rgb(255, 94, 0);
  --about-us-background: rgba(104, 138, 170, 0.2);
  --feature-background: rgb(22, 22, 50);
  /* FONT SIZES */
  --primary_header: 2.5rem;
  --secondary_header: 2rem;
  --tertiary_header: 1.5rem;
  --body_text: 1rem;
  --label_text: 1rem;
  --four-em-margin: 6em;
}

body.dark {
  --background: black;
  --font-main-color: white;
  --font-second-color: rgb(208, 208, 208);
  --font-theme-color: rgb(107, 171, 255);
  --about-us-background: rgba(131, 187, 240, 0.3);
  --about-us-background: rgba(66, 72, 79, 0.558);
  --feature-background: black;
}

@media screen and (max-width: 1500px) {
  body {
    /* FONT SIZES */
    --primary_header: 2.2rem;
    --secondary_header: 1.8rem;
    --tertiary_header: 1.2rem;
    --body_text: 1.1rem;
    --label_text: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  body {
    /* FONT SIZES */
    --primary_header: 2rem;
    --secondary_header: 1.5rem;
    --tertiary_header: 1.2rem;
    --body_text: 1rem;
    --label_text: 0.8rem;
    --four-em-margin: 4em;
  }
}

@media screen and (max-width: 600px) {
  body {
    /* FONT SIZES */
    --primary_header: 1.5rem;
    --secondary_header: 1.3rem;
    --tertiary_header: 1.2rem;
    --body_text: 1rem;
    --label_text: 0.8rem;
    --four-em-margin: 3em;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

:root {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(191, 189, 189);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--theme-color);
}

::-webkit-calendar-picker-indicator {
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--theme-color);
}

li {
  list-style: none;
}

body {
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

.scroll-top-btn {
  position: fixed;
  bottom: 2em;
  right: 1em;
  z-index: 3;
  transition: all 0.6s ease;
  right: -100%;
}

.scroll-top-btn.active {
  right: 1em;
}

.scroll-top-btn i {
  font-size: 2rem;
  color: var(--font-main-color);
  background-color: var(--theme-color);
  cursor: pointer;
  padding: 0.2em 0.4em;
  border-radius: 5px;
  box-shadow: rgb(0 0 0 / 25%) 0px 3px 5px;
}

.char {
  display: inline-block;
  position: relative;
}
.flex {
  display: flex;
}

#header {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  padding: 0 5%;
  width: 100%;
  background-color: var(--background);
  box-shadow: -1px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo a img {
  width: 70px;
}

.logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--font-main-color);
}

#nav-bar {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link-container {
  display: flex;
}

.nav-link {
  font-weight: bold;
  margin: 0 2em;
  font-size: 1.1rem;
}

.theme-nav-link {
  margin: 0;
  margin-left: 8em;
}

.nav-link a {
  text-decoration: none;
  color: var(--font-main-color);
  position: relative;
}

.nav-link a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  height: 3px;
  width: 100%;
  background-color: var(--theme-color);
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: right;
}

.nav-link.active a {
  color: var(--theme-color);
  border-bottom: 3px solid var(--theme-color);
}

.nav-link a:hover:not(.nav-link.active a):before {
  transform: scaleX(1);
  transform-origin: left;
}

.theme-btn-container {
  border: none;
  font-size: 1rem;
  background: transparent;
}

.theme-btn {
  /* padding: 0.6em 1.2em; */
  padding: 0.4em 0.7em;
  cursor: pointer;
  border-radius: 8px;
}

.theme-btn i {
  /* margin-left: 0.5em; */
}

.light-btn {
  color: var(--background);
  background-color: var(--font-main-color);
}

.dark-btn {
  background-color: white;
  border: 2px solid white;
}

.theme-btn-hide {
  display: none;
}

/* ======HERO SECTION START======= */

#hero-section {
  position: relative;
  top: 80px;
  height: calc(100vh - 80px);
  min-height: 500px;
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding: 0 8%;
  overflow: hidden;
}

#hero-section::before,
#hero-section:after {
  content: "";
  position: absolute;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  z-index: -1;
}

#hero-section::before {
  top: -200px;
  left: -400px;
  background: radial-gradient(
    ellipse at center,
    hsla(217, 100%, 50%, 0.5),
    transparent 70%
  );
}

#hero-section:after {
  top: 100px;
  right: -400px;
  background: radial-gradient(
    ellipse at center,
    hsla(15, 100%, 55%, 0.6),
    transparent 70%
  );
}

.left-hero-section,
.right-hero-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.left-hero-section .small-hero-header {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--font-theme-color);
}

.small-header-container {
  position: relative;
}

.small-header-container img {
  position: absolute;
  width: 100px;
  top: -250%;
  left: -20px;
  z-index: -1;
}

.main-hero-header {
  color: var(--font-main-color);
  font-weight: bolder;
  font-size: 3rem;
  margin: 0.5em 0;
  line-height: 1.5em;
}

.hero-ani-text {
  position: relative;
}

.hero-ani-text img {
  position: absolute;
  bottom: -10px;
  width: 100%;
  left: 0;
}

.hero-dis {
  font-size: 1.1rem;
  color: var(--font-second-color);
  width: 80%;
  line-height: 1.6em;
}

.hero-btn-container {
  margin-top: 2.5em;
}

.hero-btn:not(:first-child) {
  margin: 0 1em;
}

.hero-btn {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.8em 1em;
  color: var(--background);
  background: var(--theme-color);
  border-radius: 8px;
  position: relative;
  z-index: 2;
  display: inline-block;
}

.hero-btn-left::before,
.hero-btn-right::before {
  content: "";
  border-radius: 5px;
  right: 2%;
  top: 10%;
  position: absolute;
  height: 80%;
  z-index: -1;
  width: 15%;
  background-color: var(--font-main-color);
  transition: all 0.4s ease;
}

.hero-btn-left:hover::before,
.hero-btn-right:hover::before {
  width: 95%;
}

.hero-btn-right {
  background-color: var(--font-main-color);
}

.hero-btn-right::before {
  background-color: var(--theme-color);
}

.right-hero-section {
  position: relative;
  overflow: hidden;
}

.right-hero-section img {
  position: absolute;
}

.banner-background {
  animation: background-ani 2s linear infinite alternate;
}

@keyframes background-ani {
  0% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(8px);
  }
}

.banner-icon {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  overflow: hidden;
  max-width: 300px;
}

.banner-element-icon-1 {
  top: 40%;
  animation: banner-1-ani 2s linear infinite alternate;
}

@keyframes banner-1-ani {
  0% {
    transform: translateX(4px);
  }
  33.33% {
    transform: translate(4px, 4px);
  }
  66.66% {
    transform: translate(0, 4px);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes banner-2-ani {
  0% {
    transform: translateX(-10px);
  }
  33.33% {
    transform: translate(-10px, -10px);
  }
  66.66% {
    transform: translate(0, -10px);
  }
  100% {
    transform: translate(0);
  }
}

.banner-element-icon-2 {
  top: 60%;
  right: 2%;
  animation: banner-2-ani 2s linear infinite alternate;
}

.banner-element-icon-3 {
  top: 70%;
  animation: banner-1-ani 2s linear infinite alternate;
}

.banner-element-icon-4 {
  top: 25%;
  right: 18%;
  animation: ani-1 2s linear infinite alternate-reverse;
}

@keyframes ani-1 {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.banner-element-icon-5 {
  bottom: 15%;
  right: 4%;
}

.banner-element-icon-6 {
  top: 10%;
  right: -10%;
  z-index: -1;
}

.shape-5 {
  position: absolute;
  bottom: 10%;
  left: 2%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.shape-5 div {
  width: 1px;
  background-color: var(--font-main-color);
}

/* ======COURSE CATOGERY SECTION====== */

.section {
  /* height: 100vh; */
  background-color: var(--background);
  padding: 4em 5%;
}

#course-category {
  margin-top: 5%;
}

.section-header-container {
  text-align: center;
}

.section-header {
  color: var(--font-theme-color);
  font-size: var(--tertiary_header);
}

.second-section-header {
  color: var(--font-main-color);
  font-size: var(--secondary_header);
  line-height: 2em;
}

.popular-courses-container,
.coaches-main-container {
  width: 90%;
  margin: 2em auto;
}

.popular-course-left-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.popular-course-card {
  padding: 1.4em 1em;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  border: 1px solid var(--font-second-color);
  border-radius: 8px;
  min-width: 340px;
  margin: 3em;
  cursor: pointer;
  transition: all 0.4s ease;
}

.popular-course-card:hover {
  background-color: var(--theme-color);
  box-shadow: var(--theme-color) 0px 2px 20px;
}

.popular-course-card:hover .popular-card-icon i,
.popular-course-card:hover .popular-card-dis-container h3,
.popular-course-card:hover .popular-card-dis-container p {
  color: var(--background);
}

.popular-card-icon i {
  font-size: 2.5rem;
  color: var(--theme-color);
}

.popular-card-dis-container {
  margin-left: 1em;
}

.popular-card-dis-container h3 {
  color: var(--font-main-color);
  font-size: 1.4rem;
}

.popular-card-dis-container p {
  color: var(--font-second-color);
  margin-top: 0.4em;
}

/* <!-- ======ABOUT US SECTION====== --> */

#about-us,
#event-section,
#mission-section,
#testimonial-section {
  background-color: var(--about-us-background);
  min-height: 700px;
  display: flex;
  justify-content: space-between;
}

.left-about-container,
.right-about-container {
  width: 50%;
  position: relative;
  /* background-color: red; */
}

.left-about-container img {
  position: absolute;
}

.about-us-bg {
  animation: background-ani 2s linear infinite alternate;
}

.about-banner-1 {
  top: 20%;
  right: 8%;
  animation: banner-2-ani 2s linear infinite alternate;
}

.about-banner-2 {
  top: 40%;
  right: 8%;
  animation: banner-1-ani 2s linear infinite alternate;
}

.section-header-container-2 {
  text-align: left;
  overflow: hidden;
}

.second-section-header-2 {
  font-size: 2rem;
  line-height: 1.5em;
  margin: 0.5em 0;
}

.about-us-dis {
  width: 90%;
  color: var(--font-second-color);
  line-height: 2em;
  font-size: 1.2rem;
}

.about-us-list-container {
  overflow: hidden;
  margin: 2em 0;
}

.about-us-list {
  color: var(--font-main-color);
  font-size: 1.2rem;
  margin: 0.8em 0;
  font-weight: bold;
  display: block;
  position: relative;
}

.about-us-list i {
  margin-right: 10px;
  color: var(--theme-color);
}

/* <!-- ONLINE COURSE SECTION --> */

.section-header-container-3 {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.second-section-header-3,
.second-section-header-4,
.second-section-header-7 {
  line-height: 1.5em;
  margin-top: 0.5em;
  font-size: 2rem;
}

.secon-header-3-span {
  display: block;
}

#filter-btn {
  background-color: var(--theme-color);
  color: var(--background);
  border: none;
  padding: 0.6em 0.8em;
  font-size: 1.2rem;
  border-radius: 8px;
  outline: 0;
  font-size: 1.2rem;
}

.filter-label {
  color: var(--font-main-color);
  font-size: 1.2rem;
  margin-right: 0.5em;
  font-weight: bold;
}

.filter-option {
  border-radius: 8px;
}

.courses-container {
  width: 100%;
  margin-top: 2em;
}

.courses-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.course-card {
  width: 440px;
  min-width: 440px;
  border-radius: 8px;
  overflow: hidden;
  margin: 2em;
  border: 1px solid var(--font-main-color);
  cursor: pointer;
}

.course-card:hover img {
  transform: scale(1.15);
}

.course-card.active {
  animation: course-card 0.5s linear 1;
}

@keyframes course-card {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.course-card.hide {
  transform: scale(0.5);
  opacity: 0;
  transition: all 0.5s ease;
}

.course-card-img-container {
  width: 100%;
  overflow: hidden;
  height: 295px;
}

.course-card-img-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  height: 295px;
  transition: all 0.3s ease;
}

.course-card-dis {
  margin-top: 1em;
  padding: 0 1em;
}

.course-dis-header {
  margin-bottom: 0.8em;
  color: var(--font-main-color);
}

.author-first-dis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.5em;
}

.author-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.author-img img {
  width: 100%;
}

.author-name {
  color: var(--font-second-color);
}

.author-inner-dis,
.author-rating,
.author-second-dis {
  display: flex;
  align-items: center;
}

.author-rating i,
.author-second-dis p {
  color: var(--theme-color);
}

.author-rating p {
  color: var(--font-second-color);
  margin-left: 0.8em;
}

.author-second-dis {
  justify-content: space-between;
  padding: 1em 0;
}

.purchase-btn {
  border: none;
  color: var(--background);
  background: var(--theme-color);
  border-radius: 5px;
  padding: 0.4em 0.8em;
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.purchase-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--font-main-color);
  z-index: -1;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.purchase-btn:hover::before {
  transform: translateX(0);
}

.author-second-dis p {
  font-weight: bold;
  font-size: 1.4rem;
}

/* <!--===== JOIN OUR EVENT===== --> */

#event-section {
  padding: 4em 0;
}

.left-event-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.event-img-container {
  width: 50%;
  position: relative;
}

.event-img-container-curtain,
.left-mission-container-curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: var(--background);
  border-radius: 10px;
  display: none;
  /* width: 0; */
}

.event-img-container img {
  height: 100%;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 50%) 0px 3px 8px;
}

.event-play-btn {
  position: absolute;
  bottom: 5%;
  right: -1em;
  color: var(--background);
  background-color: var(--theme-color);
  padding: 0.5em 1.2em;
  font-size: 1.1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  /* box-shadow: rgb(0 0 0 / 25%) 0px 3px 8px; */
  box-shadow: var(--theme-color) 0px 2px 20px;
}

.event-play-btn:hover i {
  transform: scale(1.2);
}

.event-play-btn i {
  margin-right: 0.2em;
  font-size: 2.5rem;
}

#event-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  object-fit: cover;
  object-position: center;
  box-shadow: rgb(0 0 0 / 50%) 0px 3px 8px;
  border-radius: 8px;
  display: none;
}

.second-section-header-4,
.second-section-header-7 {
  margin-bottom: 1em;
}

.event-container {
  overflow: hidden;
  padding: 10px;
}

.event-card {
  background: var(--background);
  width: fit-content;
  box-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  padding: 1.5em 1.5em;
  display: flex;
  border-radius: 8px;
  margin: 1em 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
  overflow: hidden;
  min-width: 500px;
}

.event-card::before {
  content: "";
  width: 8px;
  transform: translateX(100%);
  height: 100%;
  width: 8px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--theme-color);
  transition: all 0.3s ease;
}

.event-card:hover::before {
  transform: translateX(0);
}

.event-card:hover .subject {
  color: var(--theme-color);
}

.left-event-card {
  display: flex;
  align-items: center;
  padding-right: 1em;
  flex-direction: column;
  border-right: 1px solid var(--font-second-color);
}

.date {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--font-theme-color);
  margin-bottom: 0.2em;
}

.month {
  color: var(--font-theme-color);
}

.right-event-card {
  padding-left: 1em;
}

.event-detail {
  margin-bottom: 1em;
  color: var(--font-second-color);
}

.time {
  padding-right: 0.5em;
  border-right: 1px solid var(--font-second-color);
}

.place {
  padding-left: 0.5em;
}

.subject {
  font-size: 1.5rem;
  color: var(--font-main-color);
  transition: all 0.3s ease;
}

/* ======OUR MISSON SECTION========= */

#mission-section {
  background-color: rgb(22, 22, 50);
  background-color: var(--feature-background);
  padding: 0;
  padding-top: 4em;
  padding-left: 5%;
}

.section-header-5 {
  color: rgb(107, 171, 255);
}

.left-misson-container {
  overflow: hidden;
  position: relative;
}

.left-mission-container-curtain {
  background-color: rgb(22, 22, 50);
  background-color: var(--feature-background);
  display: none;
}

.second-section-header-5 {
  color: white;
  font-size: 3rem;
}

.mission-card {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.mission-card-left {
  height: 70px;
  min-width: 90px;
  background-color: rgb(107, 171, 255);
  display: grid;
  place-items: center;
  margin-right: 1em;
  border-radius: 5px;
}

.mission-card:nth-child(2) .mission-card-left {
  background-color: rgb(244, 77, 197);
}

.mission-card:nth-child(3) .mission-card-left {
  background-color: rgb(166, 77, 244);
}

.mission-card-left i {
  color: white;
  font-size: 3rem;
}

.fa-hands-holding-child {
  font-size: 2rem !important;
}

.mission-card-right {
  color: white;
}

.mission-card-right h3 {
  margin-bottom: 0.5em;
  font-size: 1.8rem;
}

.mission-card-right p {
  line-height: 1.5em;
  font-size: 1rem;
}

/* <!-- ====BEST COACHES====== --> */

.coaches-main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.coach-card {
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--about-us-background);
  width: fit-content;
  padding: 1em;
  text-align: center;
  margin: 2em 1em;
  min-width: 350px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
}

.coach-card:hover {
  box-shadow: rgb(0 0 0 / 55%) 0px 3px 8px;
}

.coach-card:hover .coach-social-media-container {
  transform: translate(-50%, 0);
}

.coach-img-container {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.coach-img-container img {
  width: 100%;
}

.coach-social-media-container {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translate(-50%, 150%);
  display: flex;
  transition: all 0.3s ease;
}

.coach-social-media-container a {
  color: white;
  background: var(--font-theme-color);
  font-size: 1.4rem;
  padding: 0.5em;
  border-radius: 5px;
  display: block;
  margin: 0 1em;
  transition: all 0.3s ease;
}

.coach-social-media-container a:hover {
  background-color: var(--theme-color);
}

.coach-card h4 {
  font-size: 1.4rem;
  margin-bottom: 0.5em;
  color: var(--font-main-color);
}

.coach-card p {
  color: var(--font-theme-color);
  font-weight: bold;
}

/* <!-- ===TESTIMONIAL SECTION=== --> */

#testimonial-section {
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: space-around;
}

.left-testi-container {
  width: 45%;
}

.left-testi-container p {
  font-size: 1.2rem;
  line-height: 1.5em;
  color: var(--font-second-color);
}

.right-testi-container {
  width: 45%;
  display: grid;
  place-items: center;
}

.testi-slider-container {
  width: 600px;
  box-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  background-color: var(--background);
  border-radius: 8px;
}

.testi-card {
  padding: 1em;
  background-color: var(--background);
  border-radius: 5px;
  width: 550px;
  position: relative;
  cursor: grab;
  min-height: 285px;
  border-radius: 8px;
}

.testi-card:active {
  cursor: grabbing;
}

.testi-card p {
  font-size: 1.2rem;
  line-height: 1.4em;
  color: var(--font-second-color);
}

.testi-dis-container {
  margin: 2em 0;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.testi-img-container {
  height: 80px;
  width: 80px;
  padding: 0.5em;
  border-radius: 5px;
  border: 2px solid var(--theme-color);
}

.testi-img-container {
  margin-right: 1em;
}

.testi-img-container img {
  width: 100%;
  border-radius: 5px;
}

.parent-dis h4 {
  color: var(--font-main-color);
  font-size: 1.4rem;
}

.parent-dis p {
  font-size: 1.2rem;
  color: var(--font-second-color);
}

.fa-quote-right {
  color: var(--theme-color);
  display: block;
  position: absolute;
  bottom: 2%;
  right: 2%;
  font-size: 8rem;
  opacity: 0.3;
}

/* <!-- OUR BLOG SECTION --> */

.blog-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4em;
  justify-content: center;
}

.blog-card {
  width: 400px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 25%) 0px 3px 8px;
  margin: 2em;
}

.blog-card h3 {
  color: var(--font-main-color);
  margin: 0.8em 1em;
  line-height: 1.5em;
}

.blog-img-container {
  height: 300px;
  overflow: hidden;
}

.blog-img-container img {
  width: 100%;
}

.blog-dis-container {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.blog-dis-container::before {
  content: "";
  top: 0;
  position: absolute;
  width: calc(100% - 2em);
  background-color: var(--font-second-color);
  height: 1px;
  margin: 0 auto;
  left: 1em;
}

.more-blog-dis {
  display: flex;
  width: 50%;
  /* padding: 1em 0; */
  position: relative;
}

.more-blog-dis::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: var(--font-second-color);
}

.more-blog-dis i {
  color: var(--theme-color);
  margin-right: 1em;
}

.more-blog-dis p {
  color: var(--font-second-color);
}

.read-more-btn {
  font-size: 1.2rem;
  padding: 0.4em 0.6em;
}

/* <!-- CONTACT US SECTION --> */

#contact-us {
  width: 90%;
  margin: 0 auto;
  height: 200px;
  border-radius: 8px;
  background-color: rgb(0, 59, 220);
  position: relative;
  overflow: hidden;
  margin-bottom: 4em;
  z-index: 2;
}

#cta-img {
  position: absolute;
  top: 0;
  left: 0;
}

.contact-us-container {
  position: absolute;
  z-index: 2;
}

.contact-us-header {
  color: white;
  font-size: 2.5rem;
  line-height: 1.5em;
  position: absolute;
  z-index: 2;
}

#contact-us-btn {
  position: absolute;
  right: 2em;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 50%) 0px 3px 8px;
}

.contact-us-form-main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 4;
  display: grid;
  place-items: center;
  transform: scale(0);
}

.contact-us-form-main-container.show {
  transform: scale(1);
}

.contact-us-form-container {
  width: 500px;
  background: var(--theme-color);
  background: var(--background);
  padding: 1em 2em;
  border-radius: 5px;
  border: 2px solid var(--font-second-color);
  position: relative;
}

.close-form-btn-container {
  position: absolute;
  right: 1em;
  cursor: pointer;
  top: 1em;
  height: 35px;
  width: 35px;
  background-color: var(--theme-color);
  border-radius: 4px;
}

.close-form-btn-container i {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--background);
  margin-top: 8px;
}

.close-form-btn-container i:first-child {
  transform: translateY(8px) rotate(45deg);
}

.close-form-btn-container i:last-child {
  transform: translateY(-4px) rotate(-45deg);
}

.contact-us-form-container h3 {
  color: var(--font-theme-color);
  text-align: center;
  font-size: 1.5rem;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 2px solid var(--theme-color);
}

#contact-us-form {
  margin-top: 1em;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin: 2em 0;
}

.input-container label {
  font-size: 1.2rem;
  margin-bottom: 0.2em;
  color: var(--font-main-color);
}

.input-container input {
  font-size: 1.2rem;
  padding: 0.4em 0.4em;
  border-radius: 5px;
  border: 1px solid var(--font-main-color);
  background-color: var(--background);
  color: var(--font-main-color);
}

.input-container input:focus {
  border: 1px solid var(--theme-color);
  outline: 1px solid var(--theme-color);
}

.trial-form-submit-btn button {
  font-size: 1.4rem;
  border: none;
  padding: 0.4em 1.5em;
  color: var(--font-main-color);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--theme-color);
  color: var(--font-main-color);
}

.trial-form-submit-btn button:hover {
  box-shadow: var(--theme-color) 0px 8px 20px;
}

/* FOOTER */

#footer {
  background-color: var(--feature-background);
  padding: 1em 4%;
  position: relative;
  color: white;
  padding-bottom: 6em;
  display: flex;
  justify-content: space-between;
}

#footer::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--feature-background);
  height: 400px;
  z-index: -1;
  top: -45%;
  left: 0;
}

.first-footer-container {
  max-width: 500px;
}

.footer-logo-text {
  color: white;
  font-size: 1.4rem;
  margin-left: 0.3em;
}

.footer-logo a img {
  width: 60px;
}

.footer-para {
  margin: 2em 0;
  font-size: 1.2rem;
  line-height: 1.4em;
}

.footer-social-media-container a {
  font-size: 2rem;
  color: white;
  background-color: rgb(71, 71, 71);
  padding: 0.2em;
  border-radius: 4px;
}

.footer-social-media-container a:hover {
  background-color: var(--theme-color);
}

.footer-social-media-container a:not(:first-child) {
  margin-left: 1em;
}

.link-container p,
.forth-container p {
  font-size: 2rem;
  font-weight: bold;
}
.forth-container {
  display: none;
}

.link-container a {
  display: block;
  margin: 1em 0;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.link-container a:hover {
  color: var(--theme-color);
  transform: translateX(10px);
}

#footer-form {
  margin-top: 2em;
}

#footer-email {
  padding: 0.6em 0.4em;
  border-radius: 5px;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

#footer-suubmit-btn {
  font-size: 1.2rem;
  padding: 0.6em 0.8em;
  border-radius: 5px;
  transform: translateX(-50%);
  border: none;
  background-color: var(--theme-color);
  color: white;
  cursor: pointer;
}

#footer-suubmit-btn:hover {
  background-color: rgb(0, 59, 220);
}

.copy-right-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  background-color: black;
  background-color: rgb(0, 59, 220);
  background-color: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: -1; */
}

.copy-right-container p {
  font-size: 1.2rem;
}

.copy-right-container p a {
  margin-left: 0.5em;
  color: var(--theme-color);
  color: white;
}

.copy-right-container p a i {
  font-size: 1.4rem !important;
}
